body {
  font-family: Sligoil-Micro;
  color: #111111;
  margin: 0; /* Remove default margin */
  padding: 50px; /* Add some padding */
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: peachpuff;
 
}

h1 {
  color: #111111;
  text-align: left;
  font-weight: lighter;
  font-size: 2em; /* Increase heading size */
  margin-bottom: 20px; /* Add space after heading */
}

p {
  color: #111111;
  font-weight: lighter;
  font-size: 0.2em; /* Increase heading size */
  line-height: 2; /* Increase line spacing */
}

a {
  color: #111111;
  font-weight: lighter;
  font-size: 0.2em; /* Increase heading size */
  line-height: 2; /* Increase line spacing */
}

section {
  margin-bottom: 40px; /* Add space between sections */
}

h2 {
  color: #111111;
  text-align: center;
  font-weight: lighter;
  font-size: 0.5em; /* Increase section heading size */
  margin-bottom: 10px; /* Add space after section heading */
}

ul {
  list-style: none; /* Remove default bullet points */
  font-weight: lighter;
  font-size: 0.5em; /* Increase section heading size */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

li {
  font-weight: lighter;
  font-size: 0.5em; /* Increase section heading size */
  margin-bottom: 10px; /* Add space between list items */
}

.image-section {
  text-align: center; /* Center the image and text */
}

.image-section img {
  max-width: 500px; /* Set a maximum width for the image */
  margin: 10px auto; /* Add margin around the image */
}


@font-face {
  font-family: 'Sligoil-Micro';
  src: url('Sligoil-Micro.woff') format('woff');
}

.padded-paragraph {
  padding-top: 10px;
  padding-right: 85px;
  padding-bottom: 20px;
  padding-left: 45px;
}
.padded-paragraph2 {
  padding-top: 10px;
  padding-right: 85px;
  padding-bottom: 20px;
  padding-left: 85px;
}
/* Smaller padding for screens narrower than 768px (common breakpoint for mobile devices) */
@media (max-width: 768px) {
  .padded-paragraph {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  }
}
.text-element {
  font-size: 0.2em; /* Default font size */
}

/* Larger font size for screens narrower than 768px */
@media (max-width: 768px) {
  .text-element {
    font-size: 1em; /* Larger font size for mobile */
  }
}


